version: "3.8"

services:
  redis:
    image: redis:latest
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

  web:
    image: salim1704/task-1:latest   
    ports:
      - "80:5002"                        
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

volumes:
  redis-data:
