name: Task 1 Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r task_1/requirements.txt

      - name: Analysing the code with pylint
        run: |
          pylint task_1/app.py

      - name: Run tests with pytest
        run: |
          cd task_1
          pytest test_app.py   
    
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./task_1
          file: ./task_1/dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/task-1:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/task-1:${{ github.sha }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@7b7aa264d83dc58691451798b4d117d53d21edfe
        with:
            image-ref: ${{ secrets.DOCKER_HUB_USERNAME }}/task-1:latest
            format: 'sarif'
            output: 'trivy-report.sarif'
            scan-type: 'image'
            severity: 'CRITICAL,HIGH'
    